[submodule "lsm6dsv320x"]
	path = lsm6dsv320x
	url = https://github.com/STMicroelectronics/lsm6dsv320x-rs
[submodule "lsm6dsv16x"]
	path = lsm6dsv16x
	url = https://github.com/STMicroelectronics/lsm6dsv16x-rs
[submodule "lis2duxs12"]
	path = lis2duxs12
	url = https://github.com/STMicroelectronics/lis2duxs12-rs
[submodule "lis2dux12"]
	path = lis2dux12
	url = https://github.com/STMicroelectronics/lis2dux12-rs
[submodule "lis2mdl"]
	path = lis2mdl
	url = https://github.com/STMicroelectronics/lis2mdl-rs
[submodule "lsm6dsv80x"]
	path = lsm6dsv80x
	url = https://github.com/STMicroelectronics/lsm6dsv80x-rs
[submodule "lps22df"]
	path = lps22df
	url = https://github.com/STMicroelectronics/lps22df-rs
