[submodule "lsm6dsv320x"]
	path = lsm6dsv320x
	url = https://github.com/STMicroelectronics/lsm6dsv320x-rs
[submodule "lsm6dsv16x"]
	path = lsm6dsv16x
	url = https://github.com/STMicroelectronics/lsm6dsv16x-rs
[submodule "lis2duxs12"]
	path = lis2duxs12
	url = https://github.com/STMicroelectronics/lis2duxs12-rs
[submodule "lis2dux12"]
	path = lis2dux12
	url = https://github.com/STMicroelectronics/lis2dux12-rs
[submodule "lis2mdl"]
	path = lis2mdl
	url = https://github.com/STMicroelectronics/lis2mdl-rs
[submodule "lsm6dsv80x"]
	path = lsm6dsv80x
	url = https://github.com/STMicroelectronics/lsm6dsv80x-rs
[submodule "lps22df"]
	path = lps22df
	url = https://github.com/STMicroelectronics/lps22df-rs
[submodule "lsm6dso16is"]
	path = lsm6dso16is
	url = https://github.com/STMicroelectronics/lsm6dso16is-rs
[submodule "ism330is"]
	path = ism330is
	url = https://github.com/STMicroelectronics/ism330is-rs
[submodule "ism330dhcx"]
	path = ism330dhcx
	url = https://github.com/STMicroelectronics/ism330dhcx-rs
[submodule "iis2dlpc"]
	path = iis2dlpc
	url = https://github.com/STMicroelectronics/iis2dlpc-rs
[submodule "iis2dulpx"]
	path = iis2dulpx
	url = https://github.com/STMicroelectronics/iis2dulpx-rs
